body{
    background-color: rgb(217, 212, 197);
    overflow-x: hidden;
}

#menu{
    background-color: rgb(240, 235, 221);
    
}
.container-fluid{
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.button{
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    
}
#menu .col-3{
    -webkit-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

#menu .col-3:hover {
    background-color:lightgray;
}

.button p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:rgb(140, 48, 48);
    justify-content: center;
    text-align: center;
    margin-left:0;
    margin-right: 5px;
}

div#background_image{
    justify-items: center;
    background-image: url("images/main.jpg");
    background-size: cover;
    width: 100%;
    margin:0;
    height:800px;
    box-sizing: border-box;
}

@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.8;
    }
}

#hello:first-child{
    justify-content: center;
    text-align: center;
    width:100%;
    margin-top:130px;
    font-size: 100px;
    font-family: 'Bookman', serif;
    letter-spacing: 8px;
    font-weight: 800;
    color: rgb(242, 242, 242);
    opacity: 0.9;
    animation: 2s ease-in-out 0s 1 opacity;
}

@keyframes opacityAndZoom{
    0% {
        opacity: 0;
        font-size: 10px;
    }
    100%{
        opacity: 1;
        font-size: 30px;
    }
}

#hello .cytat{
    margin-top: 120px;
    letter-spacing: 1px;
    color: rgb(242, 242, 242);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: "Times New Roman", sans-serif;
    animation: 2s ease-in-out 0s 1 opacityAndZoom;
}

div#about_me_container{
    background-color:rgb(242, 240, 235);
    margin-top:10px;
    width: 100%;
    height: auto;
    max-width: 90%;
}
#about_me_header{
    justify-content: center;
    text-align: center;
    background-color: rgb(240, 235, 221);
    box-shadow: 10px 10px 8px #888888;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: bold;
    margin-top:10px;
    color: rgb(131, 131, 131); 
}

#about_me .col-sm-12{
    justify-content: center;
    text-align: justify;
    font-family: 'Candara', sans-serif;
    font-size: 23px;
    font-weight: 500;
    padding-top: 30px;;
}

#about_me button{
    margin-top:20px;
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(240, 235, 221);
    border: none;
    color: rgb(131, 131, 131);
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
}

#about_me button span{
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#about_me button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#about_me button:hover span {
    padding-right: 25px;
}
  
#about_me button:hover span:after {
    opacity: 1;
    right: 0;
}

#dev_image{
    justify-content: center;
    text-align: center;
    padding-bottom: 15px;
}

#dev_image img{
    justify-items: center;
    display: inline-flex;
    width:auto;
    max-height: 300px;
    padding: 0 15px;
    background-size: cover;
    box-sizing: border-box;
    margin-top:5px;
}

div#skills_container{
    background-color:rgb(242, 240, 235);
    margin-top:10px;
    width: 100%;
    height: auto;
    max-width: 90%;
    min-height: 400px;
}
#skills_header{
    justify-content: center;
    text-align: center;
    background-color: rgb(240, 235, 221);
    box-shadow: -10px 10px 8px #888888;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0 10px;
    color: rgb(131, 131, 131); 
}

#skills{
    padding-top: 15px;
    height: auto;
}

#skills .col-md-4:nth-child(-n + 2){
    border-right: 4px dotted lightblue;
}

#skills_header p{
    margin:0;
}

#skills .col-md-4{
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
    font-weight: 400;
    padding-top: 30px;
}

#skills p{
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

#skills img{
    display: inline-flex;
    width:85%;
    max-height: 200px;
    padding: 0 15px;
    background-size: cover;
    box-sizing: border-box;
    margin-bottom: 5px;
}



div#projects_container{
    background-color:rgb(242, 240, 235);
    margin-top:10px;
    width: 100%;
    height: auto;
    max-width: 90%;
}
#projects_header{
    justify-content: center;
    text-align: center;
    background-color: rgb(240, 235, 221);
    box-shadow: 10px 10px 8px #888888;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0 10px;
    color: rgb(131, 131, 131); 
}

#quizzApp{
    background-image: url("images/quizz.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 300px;
}

#partyApp{
    background-image: url("images/party.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 300px;
}

#libraryApp{
    background-image: url("images/library.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 300px;
}

#rentCarApp{
    background-image: url("images/cars.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
    min-height: 300px;
}


.row .justify-content-start{
    justify-content: center;
    text-align: center;
    font-family: 'Arial', serif;
    font-size: 35px;
    color: rgb(245, 245, 245);
    font-weight: 900;
    letter-spacing: 5px;
}

.row .justify-content-center{
    justify-content: center;
    text-align: center;
    height: 50%;
    font-family: 'Candara', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:rgb(245, 245, 245);
}

.justify-content-center .col-4{
    background-color: rgba(131, 131, 131,0.3);
    transition:  background-color 0.5s ease-in-out;
}

#quizzApp:hover .justify-content-center .col-4{
    background-color: rgba(131, 131, 131,0.9);
}

#partyApp:hover .justify-content-center .col-4{
    background-color: rgba(131, 131, 131,0.9);
}

#libraryApp:hover .justify-content-center .col-4{
    background-color: rgba(131, 131, 131,0.9);
}

#rentCarApp:hover .justify-content-center .col-4{
    background-color: rgba(131, 131, 131,0.9);
}


.row .justify-content-end{
    justify-content: end;
    text-align: center;
}

#quizzApp .justify-content-start{
    transition: font-size 0.5s ease-in-out;
}

#quizzApp:hover .justify-content-start{
    font-size: 38px;
    
}
#partyApp .justify-content-start{
    color: rgb(100, 100, 100);
    transition: font-size 0.5s ease-in-out;
}

#partyApp:hover .justify-content-start{
    font-size: 38px;
    overflow-y: hidden;
}


#libraryApp .justify-content-start{
    transition: font-size 0.5s ease-in-out;
}

#libraryApp:hover .justify-content-start{
    font-size: 38px;
    overflow-y: hidden;
}


#rentCarApp .justify-content-start{
    transition: font-size 0.5s ease-in-out;
}

#rentCarApp:hover .justify-content-start{
    font-size: 38px;
    overflow-y: hidden;
}


div#contact_container{
    background-color:rgb(242, 240, 235);
    margin-top:10px;
    width: 100%;
    height: auto;
    max-width: 90%;
}
#contact_header{
    justify-content: center;
    text-align: center;
    background-color: rgb(240, 235, 221);
    box-shadow: 10px 10px 8px #888888;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0 10px;
    color: rgb(131, 131, 131); 
}

#contact_header p{
    margin:0;
}

#contact{
    padding-top:45px;
}

#contact p{
    font-family: "Georgia", serif;
    font-size: 35px;
    color: rgb(87, 87, 86);
    font-weight: 800;
}

#contact li{
    font-family: "Georgia", serif;
    font-size: 23px;
    color: rgb(87, 87, 86);
    font-weight: 500;
    letter-spacing: 3px;
    margin:5px;
}

#contact li:hover{
    background-color: rgb(240, 235, 221);
}

#mail_tel{
    padding-top:58px;
}

#footer{
    height: 100px;
}
.footer{
    justify-content: center;
    text-align: center;
    background-color:rgb(240, 235, 221) ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color:rgb(100, 100, 100);
    padding:20px;
    margin:20px;
}
